<template>

  <h2 title.bind="activeStep.title"></h2>

  <section show.bind="!isComplete">

    <form class="pure-form pure-form-stacked">

      <compose view-model="${activeStep.path}"></compose>

      <div>
        <button click.trigger="previousStep()" disabled.bind="isFirstPage">Previous</button>
        <button click.trigger="nextStep()" disabled.bind="isLastPage">Next</button>
        <button click.trigger="finish()" show.bind="isLastPage">Submit</button>
      </div>

    </form>

  </section>

  <section show.bind="isComplete">

    <h3>Form contents</h3>

    Name: ${wizard.person.fullname}<br>

    Favourite vertebrate: ${wizard.person.favouriteVertebrateClass.type}<br>

    Favourite ${wizard.person.favouriteVertebrateClass.label} : ${wizard.person.favouriteVertebrateType}<br>

    Agreed to terms and conditions: ${wizard.person.agreeToTerms}<br>

    Agreed to sell kidney: ${wizard.person.agreeToSellKidney}<br><br>

    <button class="primary" click.trigger="restart()">Start again</button>

  </section>

</template>
